opencv_python_headless==4.4.0.46
torchvision==0.8.1
torchmetrics==0.2.0
scipy==1.5.4
pytorch_lightning==1.2.1
albumentations==0.5.2
torch==1.7.0.dev20200923+cu110
numpy==1.19.2
pandas==1.1.1
matplotlib==3.3.2
PyYAML==5.4.1
